@use "../../styles/variables.module.scss" as s;

.question {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: s.$base-color;
  color: s.$secondary-color;
  margin-top: 16px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #c6c6c6;
  }
}